---
---
/**
 * Using SASS for CSS preprocessing
 * http://sass-lang.com/
 */

// Imports
@import '_reset';
@import 'jeet/index'; // grid system
@import '_type_scale'; // typography
@import '_variables'; // colours, values
@import '_mixins'; // mixins

/* Global styles */
body {
    padding-top: $header_height_rendered;
    font-family: $font_s;
    color: $dark_grey;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

a {
    color: $blue;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
        color: $blue_light;
    }
}

.container {
    @include container;
}

@media #{$desktop} {
    body {
        padding-top: 0;
    }
}

// Components and Sections
// Common
@import '_header';
@import '_footer';

// Home
@import '_learn_more_cta';

// Product
@import '_product_banner';
@import '_databricks';
@import '_getting_started';
