<div class="contact-info">
    <div class="container">
        <h2 class="contact-info-title">Contact</h2>

        <div class="contact-info-text">
            <span>
                tribbloids.com
            </span>
            <span>
                First Canadian Place, 100 King St. West
            </span>
            <span>
                Toronto, ON, Canada, M5X 1B5
            </span>
            <span>
                <i class="fa fa-phone"></i> (416) 697-5373
            </span>
            <span>
                <i class="fa fa-envelope"></i>  <a href="mailto:yo@tribbloids.com">yo@tribbloids.com</a>
            </span>
        </div>
    </div>
</div>
