<div class="demo-section">
    <div class="container">
        <!--<div class="demos-text">-->
            <!--<h2 class="demos-title">Demos</h2>-->
            <!--<p>-->
                <!--Ready to see it in action? Check out the demos below.-->
            <!--</p>-->
        <!--</div>-->

        {% assign fancybox_items=site.data.demo %}

        {% for item in fancybox_items %}
        <div class="demo">
            <div class="demo-text">
                <h3 class="demo-title">{{ item.title }}</h3>
                <p>
                    {{ item.description }}
                </p>
            </div>

            <a class="fancybox" data-fancybox-type="iframe" href="{{ item.iframe }}" title="{{ item.title }}">
                <img class="demo-image" src="images/demos/{{ item.image }}" />
            </a>
        </div>
        {% endfor %}

    </div>
</div>
