    <div class="footer">
        <p>
            &copy; {{ site.time | date: "%Y" }} Copyright tribbloids
        </p>
        Design & maintained by Tenacious Design.
    </div>

    <script src="js/vendor.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/vendor/bootstrap.js"></script>

    <script src="js/main.js"></script>

    <!-- Script to Activate the Carousel -->
    <!--<script>-->
        <!--$('.carousel').carousel({-->
            <!--interval: 5000 //changes the speed-->
        <!--})-->
    <!--</script>-->

</body>
</html>
