<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} &ndash; Spooky Stuff</title>
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    <link href="http://fonts.googleapis.com/css?family=Domine|Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo-section">
                <a href="/">
                    <img class="logo-image" src="/" alt="Spooky Stuff logo">
                </a>
            </div>

            <div class="nav-burger">
                <span data-burger class="fa fa-navicon"></span>
            </div>

            <div data-menu class="nav-primary">
                {% for link in site.data.navigation_primary_links %}
                <a href="{{ link.url }}" {% if link.actual_url == page.url %}class="active"{% endif %}>
                    {{ link.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
