<div data-slider class="slider flexslider">
    <ul class="slides">
        {% for slide in site.data.slider %}
        <li class="slide {{ slide.css_class }}">
            <img class="slide-image" src="/images/slider/{{ slide.image }}" />

            <div class="slide-text-section">
                <span class="slide-text">{{ slide.title }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="slider-controls">
        <a class="flex-prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="flex-next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
