.company-section {
    padding: $padding_vertical_mobile $padding_horizontal;

    .company-title, h2 {
        @include heading-margins;
        font-family: $font_ss;
        color: $purple;
    }

    .company-title {
        @include title-3;
        margin-top: 0;
    }

    h2 {
        @include title-4;
    }
}

@media #{$desktop} {
    .company-section {
        padding: $padding_vertical_desktop 0;

        .company-title {
            @include title-1;
        }

        h2 {
            @include title-2;
        }
    }
}
