/* Getting Started section */

.getting-started {
    background: url(/images/pattern01.png) $light_grey;
    // background: url(/images/pattern05.png) $light_grey;
    // background: url(/images/pattern08.png) $light_grey;
    padding: $padding_vertical_mobile $padding_horizontal;

    .getting-started-text {
        text-align: center;

        p {
            margin: 0;
        }
    }

    .getting-started-title {
        @include title-3;
        @include heading-margins;
        font-family: $font_ss;
        margin-top: 0;
    }

    .getting-started-links {
        margin-top: $padding_vertical_mobile * 2;

        .button {
            padding: $padding_horizontal;
            margin-bottom: 10px;
        }
    }
}

@media #{$desktop} {
    .getting-started {
        padding: $padding_vertical_desktop $padding_horizontal;

        .getting-started-title {
            @include title-2;
        }

        .getting-started-links {
            .button {
                @include col(4/12, $cycle: 3);
            }
        }
    }
}
