/* Learn More */
.learn-more {
    padding: $padding_vertical_mobile $padding_horizontal;
    @include box-sizing(border-box);
    background: url(/images/pattern01.png) $light_grey;
    // background: url(/images/pattern05.png) $light_grey;
    // background: url(/images/pattern08.png) $light_grey;

    .button {
        @include col(12/12);
        padding: 10px 0;

        &:hover {
            background: $blue;
        }
    }
}

@media #{$desktop} {
    .learn-more {
        padding: $padding_vertical_desktop $padding_horizontal;

        .button {
            @include col(8/12, $offset: 2/12);
            @include title-3;
            padding: 20px $padding_horizontal;
        }
    }
}
