@mixin box-sizing($value: border-box) {
    box-sizing: $value;
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
}

@mixin container {
    @include cf;
    margin: 0 auto;
    max-width: 960px;
}
