/* Slider */
.slider {
    .slide {
        .slide-image {
            max-width: 100%;
        }

        .slide-text-section {
            text-align: center;
        }

        .slide-text {
            font-weight: 700;
        }
    }
}
