/* Slider */
$slider_height: 400px;

.slider {
    border-bottom: 1px solid $light_grey;
    border-top: 1px solid $light_grey;

    .slide {
        background: white;
        position: relative;

        .slide-image {
            max-width: 100%;
            max-height: 400px;
            margin: 0 auto;
            display: block;
        }

        .slide-text-section {
            text-align: center;
            text-shadow: 0 0 2px white;
            padding: 20px 0 40px;
            font-size: 0.9em;

            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;

            @include slider-gradient;
        }

        .slide-text {
            font-weight: 700;
        }

        // special CSS classes specified in slider.yml
        // for customizing colours if needed
        &.slide-eyes {}

        &.slide-analytics-pipeline {}

        &.slide-eyes {}

        &.slide-shorter-faster {}

        &.slide-linked-data {
            background: rgba(#869FF0, 0.8);
        }
    }

}

@media #{$desktop} {
    .slider {

        .slide {
            .slide-text-section {
                padding: 40px 0 50px;
                font-size: 1em;
            }
        }
    }
}

// Flexslider overrides
.flexslider {
    .slides {
        img {
            width: auto;
        }
    }
}
.flex-control-nav {
    margin: 0;
    bottom: 0px;
}

.flex-control-paging li a {
    background: $purple;

    &:hover {
        background: lighten($purple, 15%);
    }

    &.flex-active {
        background: $blue;
    }
}

.flex-direction-nav {
    display: none;
}
