// Colours
// $purple_dark: #3D0A49;
$purple: #5015BD;
$blue: #027FE9;
$blue_light: #00CAF8;
$light_grey: #f8f8f8;
$dark_grey: #444;

$light_yellow: #ffff70;
$transparent_yellow: rgba(yellow,0.56);

$green: #63B411;
$orange: #E1A209;

$slider_white: rgba(white,0.6);
$slider_white_position: 15%;

// Fonts
$font_ss: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
$font_s: 'Domine', 'Georgia', serif;

// Media Queries
$desktop: '(min-width: 767px)';

// Values
$padding_horizontal: 8px;
$padding_vertical_mobile: 20px;
$padding_vertical_desktop: 50px;
$header_height: 50px;
$header_height_rendered: $header_height;

// Mixins
@mixin shadow($value: $dark_grey) {
    box-shadow: 0 3px 3px rgba($value, 0.1);
}

@mixin text-shadow($value: $dark_grey) {
    text-shadow: 0 3px 3px rgba($value, 0.1);
}

@mixin slider-gradient {
    // http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, $slider_white $slider_white_position); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-st0p($slider_white_position,$slider_white)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,$slider_white $slider_white_position); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,$slider_white $slider_white_position); // Opera 11.10+
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,$slider_white $slider_white_position); // IE10+
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,$slider_white $slider_white_position); // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); // IE6-9
}

@mixin box-sizing($value: border-box) {
    box-sizing: $value;
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
}

@mixin container {
    @include cf;
    margin: 0 auto;
    max-width: 960px;
}
