// Colours
$purple_dark: #3D0A49;
$purple: #5015BD;
$blue: #027FE9;
$blue_light: #00CAF8;

// Fonts
$font_ss: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
$font_s: 'Domine', 'Georgia', serif;
