// Colours
$purple_dark: #3D0A49;
$purple: #5015BD;
$blue: #027FE9;
$blue_light: #00CAF8;
$light_grey: #f8f8f8;
$dark_grey: #444;

// Fonts
$font_ss: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
$font_s: 'Domine', 'Georgia', serif;

// Media Queries
// $desktop: '(min-width: 960px)';
$desktop: '(min-width: 700px)';

// Values
$padding_horizontal: 10px;
$padding_vertical_mobile: 20px;
$padding_vertical_desktop: 50px;
